.pricing-container {
  display: flex;
  flex-direction: column;   /* makes cards vertical */
  align-items: center;      /* center horizontally */
  gap: 40px;
  padding: 80px 20px;
}
.pricing-plan {
  width: 350px;
  padding: 40px;
  border: 1px solid rgb(161, 184, 246);
  border-radius: 20px;
  background-color: rgb(161, 184, 246);
  box-shadow: 10px 20px 20px rgba(144, 140, 140, 0.694);
  text-align: center;
}
body {
  font-family: "Sono", sans-serif;
  margin: 0;
}

.plan-title {
  font-weight: bold;
  font-size: 22px;
}

.plan-price {
  font-weight: bold;
  font-size: 30px;
  margin: 15px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.plan-button {
  background-color: orangered;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
