body {
  font-family: "Sono", sans-serif;
  margin: 0;
}

.pricing-plan{
    width: 300px;
    padding: 40px;
    border: 1px solid rgb(161, 184, 246);
    border-radius: 20px;
    margin:80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(161, 184, 246);
    box-shadow: 10px 10px gray;
    text-align: center;
}

.plan-title{
    
    font-weight: bold;
    font-size: 20px;
}

.plan-price{
    
    font-weight: bold;
    font-size: 30px;
}

ul{
    list-style: none;
}
.plan-button{
    background-color: orangered;
     border: 1px solid gainsboro;
     border-radius: 5px;
     height: 30px;
     color: white;

}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  padding: 80px 40px;
}